<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.atomicobject.dasheen</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/atomic/dasheen/dasheen</string>
        <string>-clientid</string>
        <string>radiator</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/atomic/dasheen</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardErrorPath</key>
    <string>/dev/null</string>
    <key>StandardOutPath</key>
    <string>/dev/null</string>
    <key>ServiceDescription</key>
    <string>Run dasheen at start.</string>
</dict>
</plist>
