<html ng-app="dasheen">
<head>
  <title>Dasheen</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="dashboard.css">
  <style id="holderjs-style" type="text/css"></style>
  <style>
    #log {
      height: 200px;
      overflow: scroll;
    }
  </style>
</head>
<body ng-controller="MainCtl">
  <div role="navigation" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="#" class="navbar-brand">Dasheen</a>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
          <li class="active"><a href="#">Overview</a></li>
          <li><a href="#">Reports</a></li>
          <li><a href="#">Analytics</a></li>
          <li><a href="#">Export</a></li>
        </ul>
      </div>
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Dasheen</h1>
        <div class="row placeholders">

          <div class="col-xs-6 col-sm-3 placeholder">
            <svg height="200" width="200">
              <circle cx="100" cy="100" r="90" stroke="black" stroke-width="3" ng-attr-fill="{{upstairsColor}}" />
            </svg>
            <h4>Upstairs Status</h4>
            <span class="text-muted" ng-bind="upstairsText"></span>
          </div>

          <div class="col-xs-6 col-sm-3 placeholder">
            <h4>Changes</h4>
            <div id="log">
              <ul>
                <li ng-repeat="m in upstairsMessages track by $index">{{m}}</li>
              </ul>
            </div>
          </div>

        </div>

        <div class="row placeholders">

          <div class="col-xs-6 col-sm-3 placeholder">
            <svg height="200" width="200">
              <circle cx="100" cy="100" r="90" stroke="black" stroke-width="3" ng-attr-fill="{{downstairsColor}}" />
            </svg>
            <h4>Downstairs Status</h4>
            <span class="text-muted" ng-bind="downstairsText"></span>
          </div>

          <div class="col-xs-6 col-sm-3 placeholder">
            <h4>Changes</h4>
            <div id="log">
              <ul>
                <li ng-repeat="m in downstairsMessages track by $index">{{m}}</li>
              </ul>
            </div>
            <!-- <span class="text-muted">Something else</span> -->
            <!-- <input type="text" placeholder="type here" ng-model="msg" ng-enter="send()"> -->
            <!-- <button class="btn btn-primary" ng-click="send()">Send</button> -->
          </div>

        </div>
      </div>
    </div>
  </div>

<script src="https://raw.githubusercontent.com/imsky/holder/master/holder.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
<script>
  var app = angular.module("dasheen", []);

  app.directive('ngEnter', function () {
    return function (scope, element, attrs) {
      element.bind("keydown keypress", function (event) {
        if(event.which === 13) {
          scope.$apply(function (){
            scope.$eval(attrs.ngEnter);
          });

          event.preventDefault();
        }
      });
    };
  });

  app.controller("MainCtl", ["$scope", function($scope) {
    $scope.generalMessages = [];
    $scope.upstairsMessages = [];
    $scope.downstairsMessages = [];
    $scope.upstairsColor = "yellow";
    $scope.upstairsText = "unknown";
    $scope.downstairsColor = "yellow";
    $scope.downstairsText = "unknown";

    var conn = new WebSocket("ws://localhost/ws");
    // called when the server closes the connection
    conn.onclose = function(e) {
      $scope.$apply(function(){
        $scope.generalMessages.push("DISCONNECTED");
      });
    };

    // called when the connection to the server is made
    conn.onopen = function(e) {
      $scope.$apply(function(){
        $scope.generalMessages.push("CONNECTED");
      })
    };

    // called when a message is received from the server
    conn.onmessage = function(e){
      $scope.$apply(function(){
        // console.log(e.data)
        now = new Date();
        timestamp = now.toLocaleString();
        var status = angular.fromJson(e.data);
        if(status.Upstairs != $scope.upstairsText){
          $scope.upstairsMessages.push(timestamp + " : " + $scope.upstairsText + " -> " + status.Upstairs);
          $scope.upstairsText = status.Upstairs;
          switch($scope.upstairsText) {
            case "open":
              $scope.upstairsColor = "green";
              break;
            case "closed":
              $scope.upstairsColor = "red";
              break;
            default:
              $scope.upstairsColor = "yellow";
          }
        }
        if(status.Downstairs != $scope.downstairsText){
          $scope.downstairsMessages.push(timestamp + " : " + $scope.downstairsText + " -> " + status.Downstairs);
          $scope.downstairsText = status.Downstairs;
          switch($scope.downstairsText) {
            case "open":
              $scope.downstairsColor = "green";
              break;
            case "closed":
              $scope.downstairsColor = "red";
              break;
            default:
              $scope.downstairsColor = "yellow";
          }
        }
        // console.log(status);
        // $scope.messages.push(e.data);
      });
    };

    $scope.send = function() {
      conn.send($scope.msg);
      $scope.msg = "";
    }
  }]);
</script>
</body>
</html>
